<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            text-align: center;
            background-color: black;
            color: red;
            
        }

        input {
            height: 30px;
            width: 300px;
            color: red
        }
        a{
            height: 30px;
            width: 50px;
            color: red;
            font-size: 35px;
        }
        button{
            height: 50px;
            width: 300px;
        }
        div{
        display: flex;
        justify-content: center;
        padding: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>

<body>

    <h1>¡HOLA MUNDO!</h1>
    <h2>Elija la opcion deseada</h2>
    <div>
    <button> <a href="/user/register">Registro</a> </button>
    <br><br>
    <button> <a href="/user/login">Login</a> </button>
    </div>

</body>

</html>