<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       body {
                text-align: center;
                background-color: black;
                color: red;
            }
        img{
            width: 250px;
            height: 250px;
            border-radius: 50%;
        }
        
       
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <h1>Bienvenido a su Perfil </h1>
    <br><br><br>
    
    <figure class=>    
    <img src="/images/avatar/<%= user.avatar %>" alt="">
    <figcaption><%= user.fullName %> </figcaption>
    <figcaption><%= user.email %> </figcaption>
    <figcaption>Su numero de ID: <%= user.id %> </figcaption>
    </figure>

</body>
</html> 